@*@model Cart*@

<div class="">
    
    <small class="navbar-text">
        <b>Your cart:</b>
        <span>Name of product</span>
        <span>info</span>
    </small>

    <a class="btn btn-sm btn-secondary navbar-btn">
        <i class="fa fa-shopping-cart">Button</i>
    </a>
</div>
