@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Hamster The Stock Manager</h4>
    <h5 class="display-4">is here to help you</h5>
    <img src="~/images/hamster.png" alt="hamster" width="100" />
    
</div>
