<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SmarterASP" providerName="Microsoft.Data.SqlClient"  connectionString="Data Source=SQL5103.site4now.net;Initial Catalog=DB_A719F9_Hstock;User Id=DB_A719F9_Hstock_admin;Password=hamsterstock21" />
    <add name="SQLServer" providerName="Microsoft.Data.SqlClient"  connectionString="Data Source = DESKTOP-TK7OBVA\SQLEXPRESS; Initial Catalog = Hamster; Integrated Security = True" />
  </connectionStrings>
</configuration>